.home-ctrl {
  .avatar {
    border-radius: 5px;
    display: block;
    margin: 20px 0;
    max-width: 300px;
    width: 100%;
  }

  h1 {
    .font-size-px(50px);

    > small {
      .font-size-px(8px);
      color: @gray-light;
    }
  }

  .tooltip {
    z-index: 9999;
  }

  .about {
    .font-size-px(18px);
    font-weight: 100;
    max-width: 450px;
  }

  .links {
    list-style: none;
    padding-left: 0;

    > li {
      display: inline-block;
      margin-right: 15px;

      a {
        .font-size-px(40px);
        color: @gray-light;

        &:hover {
          color: @brand-primary;
        }
      }
    }
  }

  .repos {
    margin: 20px 0;

    > ul {
      list-style: none;
      padding-left: 0;
    }

    .panel {
      .box-shadow(0 0 4px rgba(0,0,0,0.15));
      position: relative;

      .panel-body {
        padding: 0;
      }

      .repo-details {
        padding: 10px 15px;

        h3 {
          .font-size-px(24px);
          font-weight: 500;
          margin-top: 0;

          a {
            color: @text-color;
          }
        }

        .owner > a {
          .font-size-px(12px);
          color: @gray-light;
        }

        .description {
          .font-size-px(16px);
          color: @gray;
          font-style: italic;
          font-weight: 100;
          margin-bottom: 0;
        }
      }

      hr {
        margin: 5px 0;
        border-color: transparent transparent @gray-lighter;
        border-style: solid;
        border-width: 1px;
      }

      .repo-stats {
        padding: 10px 15px;
        overflow: visible;

        a {
          color: @text-color;
          display: inline-block;
        }
      }

      .fa {
        margin-right: 5px;
      }

      .stat-value {
        .font-size-px(11px);
        font-weight: normal;
      }

      .tags {
        > ul {
          display: inline-block;
          .font-size-px(11px);
          list-style: none;
          padding-left: 0;

          > li {
            display: inline-block;
            margin-left: 5px;
          }
        }
      }

      .repo-links {
        .font-size-px(10px);

        .links {
          padding: 10px 15px;

          h4 {
            margin: 0 0 10px;
          }

          ul {
            list-style: none;
            padding-left: 0;
          }

          .no-results {
            color: @gray-light;
            font-style: italic;
            margin-bottom: 0;
          }

          .loader {
            .square(16px);
            background: url(../images/loader-xs.gif) 0 0 no-repeat transparent;
            content: "";
            display: block;
          }
        }
      }
    }

    .loader {
      .square(48px);
      background: url(../images/loader-lg.gif) 0 0 no-repeat transparent;
      content: "";
      display: block;
    }
  }
}